<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711842010961-6nd86ntg01pnddun1m6901atmvl553t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711842010961-6nd86ntg01pnddun1m6901atmvl553t5</string>
	<key>API_KEY</key>
	<string>AIzaSyCyzDePWQVJkZUNnD3ivsiHOHzZCTF98m8</string>
	<key>GCM_SENDER_ID</key>
	<string>711842010961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vivien-Quach.Bookworm</string>
	<key>PROJECT_ID</key>
	<string>bookworm-bb4de</string>
	<key>STORAGE_BUCKET</key>
	<string>bookworm-bb4de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711842010961:ios:11d75379d053d0d164a570</string>
</dict>
</plist>